:root{
    --background-color: hsl(185, 75%, 39%);
    --text-color: hsl(227, 10%, 46%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Kumbh Sans', sans-serif;
}

p {
    font-family: 'Kumbh Sans', sans-serif;
}

body{
    background-color: var(--background-color);
    font-family: 'Kumbh Sans', sans-serif;
    background-image: url("../images/bg-pattern-top.svg"), url("../images/bg-pattern-bottom.svg");
    background-position: left top -250px, right bottom -350px;
    background-size: 45%, 45%;
    background-repeat: no-repeat;

}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.flex-card{
    width: 350px;
    background: url("../images/bg-pattern-card.svg") repeat-x;
    background-color: #fff;
    background-size: 100%;
    border-radius: 10px;


}

.user{
    padding: 24% 5% 5% 5%;
    text-align: center;

}

.flex-card h3{
    font-size: 17px;
    padding: 20px 0 10px 0;
}

.ft-perfil{
    border-radius: 100px;
    border: 4px solid #fff;
}

.c-borda{
    font-size: 14px;
    padding-bottom: 30px;
   
}
.destak{
    color: #6e7689;
}

.box-status{
    display: inline-flex;
    float: left;
    width: 100%;
    border-top: 1px solid #cccccc;
}

.box-status div{
    width: 33%;
    padding: 40px 0;
    text-align: center;
}

.box-status h4{
    font-size: 16px;
    font-weight: 600;
}

.box-status p{
    color: #6e7689;
    font-size: 11px;
    font-weight: 500;
}